@mixin LinearBackground(){
	background-color: blue;

	background: -webkit-gradient(linear, 0% 50%, 51% 100%, from(#6db3f2), to(#1e69de));
	background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background:	-ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
}

@mixin ImagewLinearBackground($imageURL){
	background-color: blue;
	background: url($imageURL);
	background-repeat: no-repeat;

	background: url($imageURL), -webkit-gradient(linear, 0% 50%, 51% 100%, from(#6db3f2), to(#1e69de));
	background: url($imageURL), -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: url($imageURL), -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background:	url($imageURL), -ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: url($imageURL), -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
}

.board td{
	width: 26px;
	height: 26px;
	@include LinearBackground();

	font{
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		vertical-align: middle;
		display: block;
		cursor: default;
	}

	&:not(.discovered):not(.bomb):not(.noBomb):hover{
		opacity: 0.8;
	}

	&.discovered{
		background: #eafaff;
	}

	&.bmbs_1 {
		color: #0b4aff;
	}

	&.bmbs_2 {
		color: green;
	}

	&.bmbs_3 {
		color: red;
	}

	&.bomb, &.noBomb{
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&.bomb{
		background-image: url('bomb.png');
	}

	&.noBomb{
		background-image: url('no_bomb.png');
	}

	&.bomb.red{
		background-color: #f30c0c;
	}

	&:not(.noBomb).marked {
		@include ImagewLinearBackground('flag.png');
		background-position: center center;
	}

	&:not(.noBomb).doubt {
		@include ImagewLinearBackground('doubt.png');
		background-position: center center;
	}
}