@mixin LinearBackground(){
	background-color: #6db3f2;

	background: -webkit-gradient(linear, 0% 50%, 51% 100%, from(#6db3f2), to(#1e69de));
	background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background:	-ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
}

.home .menu{
	grid-area: menu;
	flex-grow: 1;
	@include LinearBackground();
	color: #fff;

	p{
		margin-top: 8px;
		margin-bottom: 4px;
		padding-bottom: 21px;
	}
}